<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="showusersConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Gordon Freeman\Documents\showusers.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
    <add name="compatitionConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Gordon Freeman\Documents\compatition.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True" providerName="System.Data.SqlClient"/>
    <!-- <add name="filesDB" connectionString="Data Source=./" -->
  </connectionStrings>
  <system.web>
    <authentication mode="Forms"/>
    <authorization>
      <allow roles="admin"/>
    </authorization>
    <roleManager enabled="true"/>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
  </system.web>
</configuration>